# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

/temp/
/.vscode/
__pycache__/
temp/
test.*
config.*
modules/PixivImageSearcher/tempSavedImage.png
modules/SteamGameSearcher/game_cover_cache
modules/GarbageClassification/img.jpg
